<%= image_tag "bandeau-table.jpg", class:"img-fluid"%>

<h1 class="mt-4"> Les Workshops</h1>


  <%@atelier.each do |atelier|%>
  <div class="card my-3 ">
    <div class="row">
      <div class="col-md-4 ">
       <%= cl_image_tag atelier.photo, class:'card-img'%>
      </div>

      <div class="col-md-8">
        <div class="card-block px-1">
          <div class="perso">

            <div style= 'height: 20vh;'>
              <h4 class="card-title py-1 my-1 "><%=atelier.titre%></h4>          
              <p class="card-text my-2"><%=atelier.description%></p>
            </div>

            <div class ='card-footer w-100'>
              <div class="d-flex justify-content-between">
                <p class="text-muted"><%=atelier.date%> de <%=atelier.horaires%></p>
                <p class="text-muted"><%=atelier.places%> places</p>
              </div>

              <div class="d-flex justify-content-between">
                <p class="text-muted"><%=atelier.lieu%></p>
                <p class="text-muted"><%=atelier.prix%> euros</p>
                <%=  link_to "S'INSCRIRE",monworkshops_path, :class =>'btn btn-success float-right pr-10'%>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <%end%>