<h1>Passer votre commande</h1>


<div class= d-flex>
<%= simple_form_for @commande do |f|%>
 <%= f.input :quantités, :include_blank => false%>

 <div class="input-group flex-nowrap py-2">
  <div class="input-group-prepend">
    <span class="input-group-text" id="addon-wrapping">Prénom</span>
  </div>
 <%= text_field_tag "customer[surname]", "", class:'form-control', placeholder: 'tapez ici'%>
</div>

 <div class="input-group flex-nowrap py-2">
  <div class="input-group-prepend">
    <span class="input-group-text" id="addon-wrapping">Nom</span>
  </div>
 <%= text_field_tag "customer[name]", "", class:'form-control', placeholder: 'tapez ici'%>
</div>

 <div class="input-group flex-nowrap py-2">
  <div class="input-group-prepend">
    <span class="input-group-text" id="addon-wrapping">E-mail</span>
  </div>
 <%= text_field_tag "customer[email]", "", class:'form-control', placeholder: 'mon.email@email.com'%>
</div>

 <div class="input-group flex-nowrap py-2">
  <div class="input-group-prepend">
    <span class="input-group-text" id="addon-wrapping">Mobile</span>
  </div>
 <%= text_field_tag "customer[phonenumber]", "", class:'form-control', placeholder: '06 ** ** ** **'%>
</div>

 <div class="input-group flex-now py-2">
  <div class="input-group-prepend">
    <span class="input-group-text" id="addon-wrapping">Livraison</span>
  </div>
 <%= select_tag "customer[livraison]", raw("<option>Oui</option> <option>Non</option>"), class:'form-control', :prompt => 'Souhaitez vous être livré ?'%>
</div>
<p>*Les commandes sans livraisons sont à récupérer sur place à gare de Massy-Palaiseau.</p>

 <div class="input-group flex-nowrap py-2">
  <div class="input-group-prepend">
    <span class="input-group-text" id="addon-wrapping">Lieu</span>
  </div>
 <%= select_tag "customer[lieu]", raw("<option>Antony</option> <option>Verrière-le-Buisson</option>"), class:'form-control', :prompt => 'Choissisez votre lieu de livraison'%>
</div>

 <%= f.submit :"COMMANDER", class: 'btn btn-success '%>   
<% end %>
</div>

